#mi-titulo1 {
    color: blue;
}

.titulos {
    color:red;
}

.imagenes {
    text-align: center;
}

a:hover {
    font-size: 50px;
}

a:link {
    text-decoration: overline;
}

a:active {
    color: blueviolet;
    background-color: brown;
}

a:visited {
    color: forestgreen;
    text-decoration-color: hotpink;
}
        